{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "fieldName": "cancelOrderItem",
    "arguments": $util.toJson($arguments),
    "identity": $util.toJson($context.identity)
  }
}
