{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "typeName": "Query",
    "fieldName": "listDishes",
    "arguments": $utils.toJson($context.arguments),
    "identity": $utils.toJson($context.identity),
    "source": $utils.toJson($context.source),
    "request": $utils.toJson($context.request),
    "prev": $utils.toJson($context.prev)
  }
}
