{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "typeName": $util.toJson($ctx.info.typeName),
    "fieldName": $util.toJson($ctx.info.fieldName),
    "arguments": $util.toJson($ctx.arguments),
    "identity": $util.toJson($ctx.identity)
  }
}